@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = ViewBag.ArticleTitle;
    ViewData["SubTitle"] = ViewBag.BlogName;
}

<div>
    @(new HtmlString(ViewBag.MDHtml))
</div>

@section scripts {

<script src="~/js/prism.js" asp-append-version="true"></script>

}
