@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My name is Marek Czarnecki</p>

    <h2>2021</h2>
    @Html.ActionLink("Stack Javascript Data Structure", "Index", "Blog", new {fileTitle="stack-javascript-data-structure"})
    @*@Html.RouteLink("Stack Javascript Data Structure", "Index", "Blog", new {fileTitle="stack-javascript-data-structure"})*@
</div>
